@model NBAapp.Models.Team

<!doctype html>
<html lang="en">
<head>
</head>
<body>
    <form>
        Ppg<input type="text">
        FG%<input type="text">
        3pt%<input type="text">
        Assist<input type="text">
        Steal<input type="text">
        Rebound<input type="text">
        </form>
        <form action="/player/profile" method="post">
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
</body>
</html>