@model TodoApp.Models.Todo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List</title>
</head>
<body>
    <h1>Todos for today:</h1>
    <p>Start the day</p>
    <p>Finish H2 workshop1</p>
    <p>Finish JPA workshop2</p>
    <p>Create a CRUD project</p>
</body>
</html>