@model GreetApp.Models.Greet

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/StyleSheet.css")"/>
</head>
<body>
    <h1>Greetings @Model.Name</h1>
</body>
</html>