@model GreetApp.Models.Greet
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm("index", "home"))
    {
        <p><input type="submit" value="Submit" /></p>
    }
</body>
</html>