@model GreetApp.Models.Greet

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm("index", "home"))
    {
        <p>Your name:</p>
            <p>@Html.TextBoxFor(model => model.Name)</p>
            <button style="width:100px; height:40px" type="submit">Submit</button>
    }
</body>
</html>