@model NBAapp.Models.Team
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Club Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href=@Url.Content("~/StyleSheet.css") rel="stylesheet" />
</head>
<body>
    <h1><img src="~/Images/greenfox.png" /></h1>
    <h2>@Model.Name</h2>
    <h3>@Model.Fundation</h3>
    <h4>@using (Html.BeginForm("action", "team"))
    {
        <input type="submit" value="Team Information" />
    }</h4>
</body>
</html>
