@model BankofSimba.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Client:</h1>
    <p>Name: @Model.Name</p>
    <p>Balance: @Model.Balance</p>
    <p>Type: @Model.AnimalType</p>
</body>
</html>
